<template>
  <div data-v-9b878b0e-d24c-45fc-85c9-3f506118dc2c>
    <flux-view-render v-for="block in blocks" :key="block.id" :block="block" />
  </div>
</template>
<script>
export default {
  name: 'FluxView',
  components: {},
  props: {
    contents: {
      type: Object,
      default() {
        return {}
      },
    },
  },
  data() {
    return {
      blocks: [],
    }
  },
  created() {
    this.init()
  },
  methods: {
    init() {
      let parent = null
      for (const block of this.contents.blocks) {
        if (
          block.scheme === 'section' &&
          block.attributes.type === 'section-end'
        ) {
          parent = null
        } else if (block.scheme === 'section') {
          parent = block
          parent.contents = { blocks: [] }
          this.blocks.push(Object.assign({}, block))
        } else if (parent === null) {
          this.blocks.push(Object.assign({}, block))
        } else {
          parent.contents.blocks.push(Object.assign({}, block))
        }
      }
    },
  },
}
</script>
<style>
.flux-view-section {
  border: 1px solid #aaa;
  padding: 20px;
}
</style>
