<template>
  <figure data-v-d6a8b219-0698-41ab-a527-f4b4dbcf8e42>
    <div
      :class="{
        'embed-responsive embed-responsive-4by3':
          block.attributes.aspect === '4/3',
        'embed-responsive embed-responsive-16by9':
          block.attributes.aspect === '16/9',
        'embed-responsive embed-responsive-1by1':
          block.attributes.aspect === '1/1',
        'embed-responsive embed-responsive-21by9':
          block.attributes.aspect === '21/9',
        'img-fluid': block.attributes.aspect === 'fluid',
      }"
    >
      <a
        v-if="block.attributes.href"
        :href="block.attributes.href"
        :target="block.attributes.href_target"
        rel="noopener noreferrer"
      >
        <img
          :src="block.attributes.src"
          :class="{
            'img-fluid': block.attributes.aspect === 'fluid',
            'embed-responsive-item': block.attributes.aspect !== 'fluid',
          }"
          :style="`object-fit: ${block.attributes.fit}`"
        />
      </a>
      <img
        v-else
        :src="block.attributes.src"
        :class="{
          'img-fluid': block.attributes.aspect === 'fluid',
          'embed-responsive-item': block.attributes.aspect !== 'fluid',
        }"
        :style="`object-fit: ${block.attributes.fit}`"
      />
    </div>
    <figcaption
      v-if="block.attributes.title || block.attributes.credentials"
      :class="block.attributes.credentials_align"
    >
      <span v-if="block.attributes.title">
        {{ block.attributes.title }}
      </span>
      <br v-if="block.attributes.title" />
      <span v-if="block.attributes.credentials">
        {{ block.attributes.credentials }}
      </span>
    </figcaption>
  </figure>
</template>
<script>
export default {
  name: 'FluxViewImage',
  props: {
    block: {
      type: Object,
      default() {
        return {}
      },
    },
  },
}
</script>
<style scoped></style>
