<template>
  <div data-v-85688316-59c0-452c-886b-6549f488bf4d>
    <div v-if="block.scheme == 'text'" v-html="block.attributes.source" />
    <div
      v-else-if="block.scheme === 'section'"
      :class="`flux-view-${block.scheme} flux-view-${block.attributes.type}`"
    >
      <flux-view-render
        v-for="child in block.contents.blocks"
        :key="child.id"
        :block="child"
      />
    </div>
    <template v-else>
      <component
        :is="`flux-view-${block.scheme}`"
        :block="block"
        :class="`flux-view-${block.scheme}`"
      />
    </template>
  </div>
</template>
<script>
export default {
  name: 'FluxViewRender',
  props: {
    block: {
      type: Object,
      default() {
        return {}
      },
    },
  },
  data() {
    return {}
  },
  created() {
    this.init()
  },
  methods: {
    init() {},
  },
}
</script>
<style scoped></style>
