<template>
  <figure data-v-1cad5f3e-b329-482b-9f38-4195cb196b54>
    <div
      :class="{
        'embed-responsive embed-responsive-4by3':
          block.attributes.aspect === '4/3',
        'embed-responsive embed-responsive-16by9':
          block.attributes.aspect === '16/9',
        'embed-responsive embed-responsive-1by1':
          block.attributes.aspect === '1/1',
        'embed-responsive embed-responsive-21by9':
          block.attributes.aspect === '21/9',
      }"
    >
      <client-only>
        <div
          class="embed-responsive-item"
          v-html="block.attributes.source"
        ></div>
      </client-only>
    </div>
  </figure>
</template>
<script>
export default {
  name: 'FluxViewCode',
  props: {
    block: {
      type: Object,
      default() {
        return {}
      },
    },
  },
}
</script>
<style scoped></style>
