<template>
  <figure data-v-0ae2bfac-971e-4b5b-9458-312fc7649c0f>
    <audio
      controls
      :src="block.attributes.src"
      class="flux-editor-audio-player"
    >
      <p>
        Votre navigateur ne prend pas en charge l'audio HTML. Voici un un
        <a :href="block.attributes.src">lien vers le fichier audio</a> pour le
        télécharger.
      </p>
    </audio>
    <figcaption
      v-if="block.attributes.title || block.attributes.credentials"
      :class="block.attributes.credentials_align"
    >
      <span v-if="block.attributes.title">
        {{ block.attributes.title }}
      </span>
      <br v-if="block.attributes.title" />
      <span v-if="block.attributes.credentials">
        {{ block.attributes.credentials }}
      </span>
    </figcaption>
  </figure>
</template>
<script>
export default {
  name: 'FluxViewAudio',
  props: {
    block: {
      type: Object,
      default() {
        return {}
      },
    },
  },
}
</script>
<style scoped>
audio {
  width: 100%;
}
</style>
