<template>
  <figure data-v-1f3833af-0967-46f7-bd19-f66c837fbd02>
    <div
      :class="{
        'embed-responsive embed-responsive-4by3':
          block.attributes.aspect === '4/3',
        'embed-responsive embed-responsive-16by9':
          block.attributes.aspect === '16/9',
        'embed-responsive embed-responsive-1by1':
          block.attributes.aspect === '1/1',
        'embed-responsive embed-responsive-21by9':
          block.attributes.aspect === '21/9',
      }"
    >
      <iframe
        v-if="block.attributes.source === 'YOUTUBE'"
        width="100%"
        height="100%"
        class="embed-responsive-item"
        :src="`https://www.youtube-nocookie.com/embed/${block.attributes.id}`"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <iframe
        v-if="block.attributes.source === 'PEERTUBE'"
        width="100%"
        height="100%"
        title="Peertube video player"
        sandbox="allow-same-origin allow-scripts allow-popups"
        :src="`https://video.blast-info.fr/videos/embed/${block.attributes.id}`"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
    <figcaption
      v-if="block.attributes.title || block.attributes.credentials"
      :class="block.attributes.credentials_align"
    >
      <span v-if="block.attributes.title">
        {{ block.attributes.title }}
      </span>
      <br v-if="block.attributes.title" />
      <span v-if="block.attributes.credentials">
        {{ block.attributes.credentials }}
      </span>
    </figcaption>
  </figure>
</template>
<script>
export default {
  name: 'FluxViewVideo',
  props: {
    block: {
      type: Object,
      default() {
        return {}
      },
    },
  },
}
</script>
<style scoped></style>
