<template>
  <div
    class="flux-editor-menu text-center"
    data-v-6e9ebdc6-49b5-41e4-b33b-d89d9c6d4aa5
  >
    <div class="menu__wrapper">
      <a href class="menu__btn" @click.prevent>
        <i class="flux-editor-icon flux-editor-icon-menu"></i>
      </a>
      <div class="menu__content">
        <div class="menu__icons">
          <a href @click.prevent="$emit('deleteBlock', block.id)">
            <i class="flux-editor-icon flux-editor-icon-trash"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'FluxEditorMenu',
  props: {
    block: {
      type: Object,
      default() {
        return {}
      },
    },
  },
  data() {
    return {
      displayActions: false,
    }
  },
  created() {},
}
</script>
<style scoped>
.flux-editor-menu {
  /*border: 1px solid red;*/
  width: 50px;
}

.menu__btn {
  display: inline-block;
  margin-top: 5px;
}

.menu__wrapper {
  /*border: 1px solid red;*/
  position: relative;
  display: inline-block;
  width: 50px;
}
.menu__content {
  /*border: 1px solid red;*/
  position: absolute;
  top: 2px;
  right: 0;
  padding-right: 40px;
  opacity: 0;
  visibility: hidden;
}

.menu__content:before {
  z-index: -10;
  position: absolute;
  top: 0;
  right: 32px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid #aaa;
  content: '';
  transform: translate(0, calc(50% - 3px));
  /*transition-duration: 0.3s;*/
  /*transition-property: transform;*/
}

.menu__wrapper:hover .menu__content {
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transform: translate(-5px, 0);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 1);
}

.menu__icons {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  min-width: 50px;
}

.flux-editor-icon-menu {
  background-image: url('data:image/svg+xml,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1664 1344v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45z"/></svg>');
}

.flux-editor-icon-trash {
  background-image: url('data:image/svg+xml,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M704 1376v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm256 0v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm256 0v-704q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23zm-544-992h448l-48-117q-7-9-17-11h-317q-10 2-17 11zm928 32v64q0 14-9 23t-23 9h-96v948q0 83-47 143.5t-113 60.5h-832q-66 0-113-58.5t-47-141.5v-952h-96q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h309l70-167q15-37 54-63t79-26h320q40 0 79 26t54 63l70 167h309q14 0 23 9t9 23z"/></svg>');
}
</style>
