<template>
  <div class="flux-editor-code" data-v-80fbae56-053c-4579-a837-019e56c7ea58>
    <figure v-if="block.attributes.source">
      <div class="flux-editor-code-container">
        <div
          class="flux-editor-code-cover"
          @mouseover.stop="coverHover"
          @mouseleave.stop="displayTools = false"
        ></div>
        <div
          v-if="displayTools === true"
          class="flux-editor-code-tools text-center p-1 px-3"
          @mouseover.stop="toolsHover"
        >
          <button
            class="flux-btn flux-btn-default"
            :class="{ active: displayProperties }"
            @click.prevent="displayProperties = !displayProperties"
          >
            <i class="flux-editor-icon flux-editor-icon-cogs" />
          </button>
        </div>
        <div
          :class="{
            'embed-responsive embed-responsive-4by3':
              block.attributes.aspect === '4/3',
            'embed-responsive embed-responsive-16by9':
              block.attributes.aspect === '16/9',
            'embed-responsive embed-responsive-1by1':
              block.attributes.aspect === '1/1',
            'embed-responsive embed-responsive-21by9':
              block.attributes.aspect === '21/9',
          }"
        >
          <div class="embed-responsive-item" v-html="block.attributes.source" />
        </div>
      </div>
    </figure>
    <div v-if="displayProperties === true" class="flux-editor-properties mb-5">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div
              class="btn-group btn-group-sm btn-group-toggle"
              data-toggle="buttons"
            >
              <label
                v-for="item in aspects"
                :key="item"
                class="btn"
                :class="{
                  'btn-primary': form.aspect == item,
                  'btn-secondary': form.aspect != item,
                }"
              >
                <input
                  v-model="form.aspect"
                  :value="item"
                  type="radio"
                  name="aspects"
                  :checked="form.aspect == item"
                  @change="updateAttributes()"
                />
                {{ item }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row">
        <div class="flex-fill">
          <div class="form-group">
            <textarea
              id="title"
              v-model="form.source"
              rows="6"
              class="form-control form-control-sm"
              @input="updateAttributes()"
            />
          </div>
        </div>
      </div>
    </div>
    <div v-if="block.attributes && !block.attributes.source">
      <div class="form-group">
        <div class="d-flex flex-row">
          <input
            v-model="code"
            placeholder="Copier/coller ici le code d’intégration"
            class="form-control form-control-sm flex-fill"
          />
          <button class="btn btn-sm btn-primary" @click.prevent="setCode()">
            Valider
          </button>
        </div>
      </div>
    </div>
    <!-- <pre>{{ form }}</pre> -->
  </div>
</template>
<script>
import Locales from './FluxEditorLocales'
const { i18n } = Locales()

export default {
  name: 'FluxPluginCode',
  props: {
    block: {
      type: Object,
      default() {
        return {}
      },
    },
    locale: {
      type: String,
      default: 'FR',
    },
  },
  data() {
    return {
      displayTools: false,
      displayProperties: false,
      aspects: ['1/1', '4/3', '16/9', '21/9'],
      form: {
        source: null,
        aspect: '1/1',
      },
    }
  },
  created() {
    this.form = JSON.parse(JSON.stringify(this.block.attributes))
  },
  methods: {
    setCode() {
      if (this.code) {
        this.form.source = this.code
        this.updateAttributes()
      }
    },
    coverHover() {
      this.displayTools = true
    },
    toolsHover(event) {
      event.stopPropagation()
      this.displayTools = true
    },
    updateAttributes() {
      this.$parent.updateBlockAttributes(this.block.id, this.form)
    },
    i18n,
  },
}
</script>
<style scoped>
.flux-editor-code-container {
  position: relative;
}
.flux-editor-code-container:hover .flux-editor-code-cover {
  background-color: black;
  opacity: 0.2;
}

.flux-editor-properties {
  border-bottom: 5px solid #aaaaaa;
}

.flux-editor-code-cover {
  z-index: 1;
  position: absolute;
  /*background-color: red;*/
  opacity: 0;
  width: 100%;
  height: 100%;
}
.flux-editor-code-tools {
  z-index: 2;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 25px;
  background-color: white;
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.flux-editor-icon-cogs {
  background-image: url('data:image/svg+xml,<svg width="2048" height="1792" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg"><path d="M960 896q0-106-75-181t-181-75-181 75-75 181 75 181 181 75 181-75 75-181zm768 512q0-52-38-90t-90-38-90 38-38 90q0 53 37.5 90.5t90.5 37.5 90.5-37.5 37.5-90.5zm0-1024q0-52-38-90t-90-38-90 38-38 90q0 53 37.5 90.5t90.5 37.5 90.5-37.5 37.5-90.5zm-384 421v185q0 10-7 19.5t-16 10.5l-155 24q-11 35-32 76 34 48 90 115 7 11 7 20 0 12-7 19-23 30-82.5 89.5t-78.5 59.5q-11 0-21-7l-115-90q-37 19-77 31-11 108-23 155-7 24-30 24h-186q-11 0-20-7.5t-10-17.5l-23-153q-34-10-75-31l-118 89q-7 7-20 7-11 0-21-8-144-133-144-160 0-9 7-19 10-14 41-53t47-61q-23-44-35-82l-152-24q-10-1-17-9.5t-7-19.5v-185q0-10 7-19.5t16-10.5l155-24q11-35 32-76-34-48-90-115-7-11-7-20 0-12 7-20 22-30 82-89t79-59q11 0 21 7l115 90q34-18 77-32 11-108 23-154 7-24 30-24h186q11 0 20 7.5t10 17.5l23 153q34 10 75 31l118-89q8-7 20-7 11 0 21 8 144 133 144 160 0 8-7 19-12 16-42 54t-45 60q23 48 34 82l152 23q10 2 17 10.5t7 19.5zm640 533v140q0 16-149 31-12 27-30 52 51 113 51 138 0 4-4 7-122 71-124 71-8 0-46-47t-52-68q-20 2-30 2t-30-2q-14 21-52 68t-46 47q-2 0-124-71-4-3-4-7 0-25 51-138-18-25-30-52-149-15-149-31v-140q0-16 149-31 13-29 30-52-51-113-51-138 0-4 4-7 4-2 35-20t59-34 30-16q8 0 46 46.5t52 67.5q20-2 30-2t30 2q51-71 92-112l6-2q4 0 124 70 4 3 4 7 0 25-51 138 17 23 30 52 149 15 149 31zm0-1024v140q0 16-149 31-12 27-30 52 51 113 51 138 0 4-4 7-122 71-124 71-8 0-46-47t-52-68q-20 2-30 2t-30-2q-14 21-52 68t-46 47q-2 0-124-71-4-3-4-7 0-25 51-138-18-25-30-52-149-15-149-31v-140q0-16 149-31 13-29 30-52-51-113-51-138 0-4 4-7 4-2 35-20t59-34 30-16q8 0 46 46.5t52 67.5q20-2 30-2t30 2q51-71 92-112l6-2q4 0 124 70 4 3 4 7 0 25-51 138 17 23 30 52 149 15 149 31z"/></svg>');
}

.flux-editor-icon-exchange {
  background-image: url('data:image/svg+xml,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1792 1184v192q0 13-9.5 22.5t-22.5 9.5h-1376v192q0 13-9.5 22.5t-22.5 9.5q-12 0-24-10l-319-320q-9-9-9-22 0-14 9-23l320-320q9-9 23-9 13 0 22.5 9.5t9.5 22.5v192h1376q13 0 22.5 9.5t9.5 22.5zm0-544q0 14-9 23l-320 320q-9 9-23 9-13 0-22.5-9.5t-9.5-22.5v-192h-1376q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h1376v-192q0-14 9-23t23-9q12 0 24 10l319 319q9 9 9 23z"/></svg>');
}

.flux-editor-icon-text-left {
  background-image: url('data:image/svg+xml,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="white" d="M1792 1344v128q0 26-19 45t-45 19h-1664q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1664q26 0 45 19t19 45zm-384-384v128q0 26-19 45t-45 19h-1280q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1280q26 0 45 19t19 45zm256-384v128q0 26-19 45t-45 19h-1536q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1536q26 0 45 19t19 45zm-384-384v128q0 26-19 45t-45 19h-1152q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1152q26 0 45 19t19 45z"/></svg>');
}
.flux-editor-icon-text-center {
  background-image: url('data:image/svg+xml,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="white"  d="M1792 1344v128q0 26-19 45t-45 19h-1664q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1664q26 0 45 19t19 45zm-384-384v128q0 26-19 45t-45 19h-896q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h896q26 0 45 19t19 45zm256-384v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm-384-384v128q0 26-19 45t-45 19h-640q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h640q26 0 45 19t19 45z"/></svg>');
}
.flux-editor-icon-text-right {
  background-image: url('data:image/svg+xml,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="white" d="M1792 1344v128q0 26-19 45t-45 19h-1664q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1664q26 0 45 19t19 45zm0-384v128q0 26-19 45t-45 19h-1280q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1280q26 0 45 19t19 45zm0-384v128q0 26-19 45t-45 19h-1536q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1536q26 0 45 19t19 45zm0-384v128q0 26-19 45t-45 19h-1152q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1152q26 0 45 19t19 45z"/></svg>');
}
</style>
