<template>
  <div data-v-ed25295b-d5e9-4dd7-9a6b-c20b64502b36>
    <div
      v-for="(block, index) in content.blocks"
      :key="block.id"
      class="fluxeditor"
    >
      <template v-if="isComponentAllowed(block.scheme) == true">
        <div v-if="index == 0" class="flux-plus mt-4 mb-4">
          <flux-component-plus
            :block="block"
            :components="Object.keys(config.components)"
            position="before"
          />
        </div>
        <div class="d-flex flex-row">
          <div class="border-right mr-3">
            <div class="flux-editor-gutter flux-editor-gutter-left"></div>
          </div>
          <div
            v-if="block.scheme === 'text'"
            :id="block.id"
            :ref="block.id"
            class="flux-editor-text flex-fill"
            @keydown="doEdit"
            @click="enableBlock(block.id, true, $event)"
            v-html="block.attributes.source"
          />
          <template v-else>
            <component
              :is="getComponentName(block.scheme)"
              :id="block.id"
              :ref="block.id"
              :block="block"
              :options="getComponentOptions(block.scheme)"
              :attachments="attachments"
              class="flex-fill"
            />
          </template>
          <div
            class="flux-editor-gutter flux-editor-gutter-right border-left ml-3"
          >
            <flux-component-menu :block="block" @deleteBlock="deleteBlock" />
          </div>
        </div>
        <div class="flux-plus mt-4 mb-4">
          <flux-component-plus
            :block="block"
            :components="Object.keys(config.components)"
          />
        </div>
      </template>
    </div>
    <!-- <pre>{{ references }}</pre> -->
    <!-- <pre>{{ content.blocks }}</pre> -->
  </div>
</template>
<script>
import MediumEditor from 'medium-editor'
import FluxEditorConfig from './config'

export default {
  name: 'FluxEditorCore',
  components: {},
  props: {
    contents: {
      type: Object,
      default() {
        return {}
      },
    },
    attachments: {
      type: Array,
      default() {
        return []
      },
    },
  },
  data() {
    return {
      config: FluxEditorConfig,
      references: FluxEditorConfig.references,
      content: {
        blocks: [],
      },
      editor: null,
      editorBlockId: null,
    }
  },
  computed: {
    blocks() {
      return this.content.blocks
    },
  },
  created() {
    this.initEditor(this.contents)
  },
  methods: {
    isComponentAllowed(scheme) {
      if (scheme === 'text') {
        return true
      }
      if (this.config.components && this.config.components[scheme]) {
        return true
      }
      return false
    },
    getComponentOptions(scheme) {
      if (
        scheme !== 'text' &&
        this.config.components &&
        this.config.components[scheme] &&
        this.config.components[scheme].options
      ) {
        return this.config.components[scheme].options
      }
      return {}
    },
    getComponentName(scheme) {
      if (this.config.components && this.config.components[scheme]) {
        return this.config.components[scheme].component
      }
      return null
    },
    getContent() {
      this.disableEditor()
      return Object.assign(this.content, {})
    },
    async initEditor(content) {
      if (content && content.blocks && content.blocks.length > 0) {
        this.content = content
      } else {
        if (!this.content.blocks) {
          this.content.blocks = []
        }
        if (this.content.blocks.length === 0) {
          this.content.blocks.push(this.getBlockFromReference('text'))
        }
        const block = this.getFirstTextBlock()
        await this.timeout(100)
        this.enableBlock(block.id)
      }
    },
    async doEdit(ev) {
      // console.log(ev.keyCode)
      if (ev.key === 'Enter' && ev.shiftKey === false) {
        ev.preventDefault()
        const block = this.addBlockAtCaret(ev.target.id, 'text') // eslint-disable-line
        if (block) {
          this.disableEditor()
          await this.timeout(100)
          this.enableBlock(block.id)
          this.focusBlockById(block.id)
        }
      } else if (ev.key === 'Backspace') {
        const position = this.getCaretPosition(ev.target)
        const block = this.getPreviousSinblingBlock(ev.target.id)
        if (position === 'start' && this.isBlockEmpty(ev.target.id) === true) {
          this.disableEditor()
          this.deleteBlock(ev.target.id)
          if (block) {
            this.enableBlock(block.id)
            await this.timeout(100)
            this.focusBlockById(block.id)
            this.setCaretToBlockEnd(block.id)
          }
        } else if (
          position === 'start' &&
          this.isBlockEmpty(ev.target.id) === false &&
          this.isTextSelected() === false
        ) {
          let content = this.getBlockHtmlContent(ev.target.id)
          if (block) {
            content = block.attributes.source + content
            this.disableEditor()
            this.deleteBlock(ev.target.id)
            this.updateBlockAttributes(block.id, { source: content })
            this.enableBlock(block.id)
            await this.timeout(100)
            this.focusBlockById(block.id)
            this.setCaretToBlockEnd(block.id)
          }
        }
      } else if (ev.key === 'ArrowUp') {
        const block = this.getPreviousSinblingBlock(ev.target.id) // eslint-disable-line
        if (block && block.scheme === 'text') {
          const position = this.getCaretPosition(ev.target) // eslint-disable-line
          if (position === 'start') {
            this.enableBlock(block.id)
            this.focusBlockById(block.id)
            await this.timeout(50)
            this.setCaretToBlockEnd(block.id)
          }
        }
      } else if (ev.key === 'ArrowDown') {
        const block = this.getNextSinblingBlock(ev.target.id) // eslint-disable-line
        if (block && block.scheme === 'text') {
          const position = this.getCaretPosition(ev.target) // eslint-disable-line
          if (position === 'end' || this.isBlockEmpty(ev.target.id) === true) {
            this.enableBlock(block.id)
            this.focusBlockById(block.id)
          }
        }
      }
    },
    enableBlock(id, focus) {
      const block = this.getBlockById(id)
      if (block && block.scheme === 'text') {
        if (this.editorBlockId !== id) {
          this.disableEditor()
          this.editorBlockId = id
          if (this.$refs[id]) {
            this.editor = new MediumEditor(this.$refs[id][0], {
              imageDragging: false,
              anchorPreview: false,
              targetBlank: true,
              placeholder: {
                text: 'Paragraphe vide',
                hideOnClick: true,
              },
              toolbar: {
                buttons: [
                  'h2',
                  'h3',
                  'quote',
                  'bold',
                  'italic',
                  'anchor',
                  'removeFormat',
                ],
              },
              anchor: {
                placeholderText: 'Saississez votre lien',
              },
              commands: [
                {
                  command: 'bold',
                  key: 'B',
                  meta: true,
                  shift: false,
                  alt: false,
                },
                {
                  command: 'italic',
                  key: 'I',
                  meta: true,
                  shift: false,
                  alt: false,
                },
              ],
            })
            if (focus === true) {
              this.$refs[id][0].focus()
            }
          }
        }
      }
    },
    disableEditor() {
      if (this.editor) {
        const source = this.editor.getContent()
        this.editor.destroy()
        if (this.editorBlockId) {
          const block = this.getBlockById(this.editorBlockId)
          if (block) {
            this.content.blocks[block.key].attributes.source = source
          }
        }
        this.editorBlockId = null
      }
    },
    // appendContentToBlock(id, htmlString) {
    //   const block = this.getBlockById(id)
    //   const div = document.createElement('div')
    //   div.innerHTML = block.attributes.source.trim()
    //   console.log(div.innerHTML)
    //   // const html = this.getContentFromHTML(div.innerHTML)
    //   // const content = `<${block.attributes.tag}>${html} ${htmlString}</${block.attributes.tag}>`
    //   // this.content.blocks[block.key].attributes.source = content
    // },
    getBlockFromReference(scheme) {
      const block = JSON.parse(JSON.stringify(this.config.references[scheme]))
      block.id = this.uuidv4()
      return block
    },
    async addNewBlock(id, scheme, position) {
      this.disableEditor()
      const block = this.getBlockById(id)
      const newBlock = this.getBlockFromReference(scheme)
      if (block && newBlock) {
        if (position === 'before') {
          this.content.blocks.unshift(newBlock)
        } else {
          this.content.blocks.splice(block.key + 1, 0, newBlock)
        }
        if (scheme === 'text') {
          await this.timeout(100)
          this.enableBlock(newBlock.id, true)
        }
        return newBlock
      }
    },
    updateBlockAttributes(id, attributes) {
      const block = this.getBlockById(id)
      if (block) {
        this.content.blocks[block.key].attributes = Object.assign(
          block.attributes,
          attributes
        )
      }
    },
    addBlockAtCaret(id, scheme) {
      const uuid = this.uuidv4()
      const block = this.getBlockById(id)
      const el = document.getElementById(block.id)
      if (el && block) {
        const htmlBefore = this.getHtmlAtCaret(el)
        const htmlAfter = this.getHtmlAtCaret(el, true)
        this.disableEditor()
        this.content.blocks[block.key].attributes.source = htmlBefore
        this.content.blocks.splice(block.key + 1, 0, {
          scheme,
          attributes: {
            tag: 'p',
            source: htmlAfter,
          },
          id: uuid,
        })
        return this.getBlockById(uuid)
      }
    },
    getBlockById(id) {
      for (const key in this.content.blocks) {
        if (id && this.content.blocks[key].id === id) {
          return Object.assign(this.content.blocks[key], {
            key: parseInt(key),
          })
        }
      }
    },
    getFirstTextBlock() {
      for (const key in this.content.blocks) {
        if (this.content.blocks[key].scheme === 'text') {
          return Object.assign(this.content.blocks[key], {})
        }
      }
    },
    focusBlockById(id, ms) {
      try {
        const el = document.getElementById(id)
        if (el) {
          el.focus()
        }
      } catch (e) {
        // console.log(e)
      }
    },
    getPreviousSinblingBlock(id) {
      const current = this.getBlockById(id)
      const previousKey = current.key
      const blocks = this.content.blocks.slice(0, current.key).reverse()
      if (previousKey >= 0) {
        for (const key in blocks) {
          if (blocks[key].scheme === current.scheme) {
            return Object.assign(blocks[key], { key: parseInt(key) })
          }
        }
      }
    },
    getNextSinblingBlock(id) {
      const current = this.getBlockById(id)
      const nextKey = current.key + 1
      for (const key in this.content.blocks.slice(nextKey)) {
        const k = parseInt(key) + nextKey
        if (this.content.blocks[k].scheme === current.scheme) {
          return Object.assign(this.content.blocks[k], { key: k })
        }
      }
    },
    async deleteBlock(id) {
      const block = this.getBlockById(id)
      this.content.blocks.splice(block.key, 1)

      if (this.content.blocks.length === 0) {
        const block = this.getBlockFromReference('text')
        this.content.blocks.push(block)
        await this.timeout(100)
        this.enableBlock(block.id)
        this.focusBlockById(block.id)
      }
    },
    isBlockEmpty(id) {
      const el = document.getElementById(id)
      if (el && el.textContent.trim().length === 0) {
        return true
      }
      return false
    },
    setCaretToBlockEnd(id) {
      const el = document.getElementById(id)
      if (el) {
        this.setCaretToEnd(el)
      }
    },
    setCaretToEnd(el) {
      const range = document.createRange()
      range.selectNodeContents(el)
      range.collapse(false)
      const selection = window.getSelection()
      selection.removeAllRanges()
      selection.addRange(range)

      // const node = el.childNodes[0]
      // console.log(node)
      // console.log(node.nodeType)

      // const range = document.createRange()
      // range.selectNodeContents(el)
      // range.collapse(true)
      // const sel = window.getSelection()
      // sel.removeAllRanges()
      // sel.addRange(range)
    },
    getCaretPosition(el) {
      const sel = window.getSelection()
      let atStart
      let atEnd
      if (sel.rangeCount) {
        const selRange = sel.getRangeAt(0)
        const testRange = selRange.cloneRange()

        testRange.selectNodeContents(el)
        testRange.setEnd(selRange.startContainer, selRange.startOffset)
        atStart = testRange.toString().trim() === ''

        testRange.selectNodeContents(el)
        testRange.setStart(selRange.endContainer, selRange.endOffset)
        atEnd = testRange.toString().trim() === ''
      }

      if (atStart) {
        return 'start'
      } else if (atEnd) {
        return 'end'
      } else {
        return null
      }
    },
    getHtmlAtCaret(el, after) {
      let html = ''
      const sel = window.getSelection()
      if (sel.rangeCount > 0) {
        const selRange = sel.getRangeAt(0)
        const range = document.createRange()
        range.selectNodeContents(el)
        if (!after) {
          range.setEnd(selRange.startContainer, selRange.startOffset)
        } else {
          range.setStart(selRange.startContainer, selRange.startOffset)
        }
        const frag = range.cloneContents()
        el = document.createElement('body')
        el.appendChild(frag)
        if (el.textContent.trim().length === 0) {
          html = ''
        } else {
          html = el.innerHTML.replace('<p><br></p>', '')
        }
      }
      return html
    },
    getBlockHtmlContent(id) {
      const el = document.getElementById(id)
      return el.innerHTML
    },
    getBlockTextContent(id) {
      const el = document.getElementById(id)
      return el.textContent
    },
    getContentFromHTML(htmlString) {
      const div = document.createElement('div')
      div.innerHTML = htmlString.trim()
      if (div.firstChild && div.firstChild.innerHTML) {
        return div.firstChild.innerHTML.trim()
      } else {
        return div.innerHTML
      }
    },
    getTextFromHTML(htmlString) {
      const div = document.createElement('div')
      div.innerHTML = htmlString.trim()
      if (div.firstChild && div.firstChild.textContent) {
        return div.firstChild.textContent.trim()
      } else {
        return div.textContent
      }
    },
    isTextSelected() {
      const selObj = window.getSelection()
      if (selObj.toString().length > 0) {
        return true
      }
      return false
    },
    uuidv4() {
      return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, (c) =>
        (
          c ^
          (crypto.getRandomValues(new Uint8Array(1))[0] & (15 >> (c / 4)))
        ).toString(16)
      )
    },
    timeout(ms) {
      return new Promise((resolve) => setTimeout(resolve, ms))
    },
    MediumEditor,
  },
}
</script>
<style scoped>
/* https://github.com/Rush/Font-Awesome-SVG-PNG */

.flux-editor-gutter {
  /*border: 1px solid red;*/
  position: relative;
}

.flux-editor-gutter-left {
  /*width: 50px;*/
}

.flux-editor-gutter-right {
  width: 50px;
}

.flux-plus {
  margin-right: 50px;
}

.flux-editor-gutter-actions {
  /*position: absolute;*/
  left: 0;
  bottom: 0;
  opacity: 0.3;
}

.flux-editor-gutter:hover .flux-editor-gutter-actions {
  opacity: 1;
}
</style>
<style>
.flux-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flux-btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.flux-btn-default:hover {
  background-color: #eee;
}

.flux-editor-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -2px;
}

.flux-editor-icon-text-left {
  background-image: url('data:image/svg+xml,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="white" d="M1792 1344v128q0 26-19 45t-45 19h-1664q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1664q26 0 45 19t19 45zm-384-384v128q0 26-19 45t-45 19h-1280q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1280q26 0 45 19t19 45zm256-384v128q0 26-19 45t-45 19h-1536q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1536q26 0 45 19t19 45zm-384-384v128q0 26-19 45t-45 19h-1152q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1152q26 0 45 19t19 45z"/></svg>');
}
.flux-editor-icon-text-center {
  background-image: url('data:image/svg+xml,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="white"  d="M1792 1344v128q0 26-19 45t-45 19h-1664q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1664q26 0 45 19t19 45zm-384-384v128q0 26-19 45t-45 19h-896q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h896q26 0 45 19t19 45zm256-384v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm-384-384v128q0 26-19 45t-45 19h-640q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h640q26 0 45 19t19 45z"/></svg>');
}
.flux-editor-icon-text-right {
  background-image: url('data:image/svg+xml,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="white" d="M1792 1344v128q0 26-19 45t-45 19h-1664q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1664q26 0 45 19t19 45zm0-384v128q0 26-19 45t-45 19h-1280q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1280q26 0 45 19t19 45zm0-384v128q0 26-19 45t-45 19h-1536q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1536q26 0 45 19t19 45zm0-384v128q0 26-19 45t-45 19h-1152q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1152q26 0 45 19t19 45z"/></svg>');
}

.flux-editor-icon-cogs {
  background-image: url('data:image/svg+xml,<svg width="2048" height="1792" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg"><path d="M960 896q0-106-75-181t-181-75-181 75-75 181 75 181 181 75 181-75 75-181zm768 512q0-52-38-90t-90-38-90 38-38 90q0 53 37.5 90.5t90.5 37.5 90.5-37.5 37.5-90.5zm0-1024q0-52-38-90t-90-38-90 38-38 90q0 53 37.5 90.5t90.5 37.5 90.5-37.5 37.5-90.5zm-384 421v185q0 10-7 19.5t-16 10.5l-155 24q-11 35-32 76 34 48 90 115 7 11 7 20 0 12-7 19-23 30-82.5 89.5t-78.5 59.5q-11 0-21-7l-115-90q-37 19-77 31-11 108-23 155-7 24-30 24h-186q-11 0-20-7.5t-10-17.5l-23-153q-34-10-75-31l-118 89q-7 7-20 7-11 0-21-8-144-133-144-160 0-9 7-19 10-14 41-53t47-61q-23-44-35-82l-152-24q-10-1-17-9.5t-7-19.5v-185q0-10 7-19.5t16-10.5l155-24q11-35 32-76-34-48-90-115-7-11-7-20 0-12 7-20 22-30 82-89t79-59q11 0 21 7l115 90q34-18 77-32 11-108 23-154 7-24 30-24h186q11 0 20 7.5t10 17.5l23 153q34 10 75 31l118-89q8-7 20-7 11 0 21 8 144 133 144 160 0 8-7 19-12 16-42 54t-45 60q23 48 34 82l152 23q10 2 17 10.5t7 19.5zm640 533v140q0 16-149 31-12 27-30 52 51 113 51 138 0 4-4 7-122 71-124 71-8 0-46-47t-52-68q-20 2-30 2t-30-2q-14 21-52 68t-46 47q-2 0-124-71-4-3-4-7 0-25 51-138-18-25-30-52-149-15-149-31v-140q0-16 149-31 13-29 30-52-51-113-51-138 0-4 4-7 4-2 35-20t59-34 30-16q8 0 46 46.5t52 67.5q20-2 30-2t30 2q51-71 92-112l6-2q4 0 124 70 4 3 4 7 0 25-51 138 17 23 30 52 149 15 149 31zm0-1024v140q0 16-149 31-12 27-30 52 51 113 51 138 0 4-4 7-122 71-124 71-8 0-46-47t-52-68q-20 2-30 2t-30-2q-14 21-52 68t-46 47q-2 0-124-71-4-3-4-7 0-25 51-138-18-25-30-52-149-15-149-31v-140q0-16 149-31 13-29 30-52-51-113-51-138 0-4 4-7 4-2 35-20t59-34 30-16q8 0 46 46.5t52 67.5q20-2 30-2t30 2q51-71 92-112l6-2q4 0 124 70 4 3 4 7 0 25-51 138 17 23 30 52 149 15 149 31z"/></svg>');
}

.flux-editor-icon-exchange {
  background-image: url('data:image/svg+xml,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1792 1184v192q0 13-9.5 22.5t-22.5 9.5h-1376v192q0 13-9.5 22.5t-22.5 9.5q-12 0-24-10l-319-320q-9-9-9-22 0-14 9-23l320-320q9-9 23-9 13 0 22.5 9.5t9.5 22.5v192h1376q13 0 22.5 9.5t9.5 22.5zm0-544q0 14-9 23l-320 320q-9 9-23 9-13 0-22.5-9.5t-9.5-22.5v-192h-1376q-13 0-22.5-9.5t-9.5-22.5v-192q0-13 9.5-22.5t22.5-9.5h1376v-192q0-14 9-23t23-9q12 0 24 10l319 319q9 9 9 23z"/></svg>');
}

.flux-editor-icon-text {
  background-image: url('data:image/svg+xml,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1534 189v73q0 29-18.5 61t-42.5 32q-50 0-54 1-26 6-32 31-3 11-3 64v1152q0 25-18 43t-43 18h-108q-25 0-43-18t-18-43v-1218h-143v1218q0 25-17.5 43t-43.5 18h-108q-26 0-43.5-18t-17.5-43v-496q-147-12-245-59-126-58-192-179-64-117-64-259 0-166 88-286 88-118 209-159 111-37 417-37h479q25 0 43 18t18 43z"/></svg>');
}

.flux-editor-icon-image {
  background-image: url('data:image/svg+xml,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M576 576q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm1024 384v448h-1408v-192l320-320 160 160 512-512zm96-704h-1600q-13 0-22.5 9.5t-9.5 22.5v1216q0 13 9.5 22.5t22.5 9.5h1600q13 0 22.5-9.5t9.5-22.5v-1216q0-13-9.5-22.5t-22.5-9.5zm160 32v1216q0 66-47 113t-113 47h-1600q-66 0-113-47t-47-113v-1216q0-66 47-113t113-47h1600q66 0 113 47t47 113z"/></svg>');
}

.flux-editor-icon-video {
  background-image: url('data:image/svg+xml,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1280 896q0-37-30-54l-512-320q-31-20-65-2-33 18-33 56v640q0 38 33 56 16 8 31 8 20 0 34-10l512-320q30-17 30-54zm512 0q0 96-1 150t-8.5 136.5-22.5 147.5q-16 73-69 123t-124 58q-222 25-671 25t-671-25q-71-8-124.5-58t-69.5-123q-14-65-21.5-147.5t-8.5-136.5-1-150 1-150 8.5-136.5 22.5-147.5q16-73 69-123t124-58q222-25 671-25t671 25q71 8 124.5 58t69.5 123q14 65 21.5 147.5t8.5 136.5 1 150z"/></svg>');
}

.flux-editor-icon-audio {
  background-image: url('data:image/svg+xml,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1472 704v128q0 221-147.5 384.5t-364.5 187.5v132h256q26 0 45 19t19 45-19 45-45 19h-640q-26 0-45-19t-19-45 19-45 45-19h256v-132q-217-24-364.5-187.5t-147.5-384.5v-128q0-26 19-45t45-19 45 19 19 45v128q0 185 131.5 316.5t316.5 131.5 316.5-131.5 131.5-316.5v-128q0-26 19-45t45-19 45 19 19 45zm-256-384v512q0 132-94 226t-226 94-226-94-94-226v-512q0-132 94-226t226-94 226 94 94 226z"/></svg>');
}

.flux-editor-icon-code {
  background-image: url('data:image/svg+xml,<svg width="2048" height="1792" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg"><path d="M681 1399l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23t-10 23l-393 393 393 393q10 10 10 23t-10 23zm591-1067l-373 1291q-4 13-15.5 19.5t-23.5 2.5l-62-17q-13-4-19.5-15.5t-2.5-24.5l373-1291q4-13 15.5-19.5t23.5-2.5l62 17q13 4 19.5 15.5t2.5 24.5zm657 651l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23t-10 23z"/></svg>');
}

.flux-editor-icon-section {
  background-image: url('data:image/svg+xml,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1312 256h-832q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113v-832q0-66-47-113t-113-47zm288 160v832q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h832q119 0 203.5 84.5t84.5 203.5z"/></svg>');
}
</style>
