<template>
  <div class="flux-editor-section">
    <div v-if="block.attributes" class="row">
      <div class="col text-center text-uppercase">
        <div class="p-2">
          <select v-model="form.type" @change="updateAttributes()">
            <option
              v-for="section in options.sections"
              :key="section"
              :value="section"
            >
              {{ i18n(`SECTION-${section}`, locale) }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Locales from './FluxEditorLocales'
const { i18n } = Locales()

export default {
  name: 'FluxPluginSection',
  props: {
    block: {
      type: Object,
      default() {
        return {}
      },
    },
    component: {
      type: Object,
      default() {
        return {}
      },
    },
    options: {
      type: Object,
      default() {
        return {}
      },
    },
    defaultType: {
      type: String,
      default: 'section-frame-start',
    },
    locale: {
      type: String,
      default: 'FR',
    },
  },
  data() {
    return {
      form: {
        type: null,
      },
    }
  },
  created() {
    this.form = JSON.parse(JSON.stringify(this.block.attributes))
    if (this.form.type === null) {
      this.form.type = this.defaultType
    }
  },
  methods: {
    updateAttributes() {
      this.$parent.updateBlockAttributes(this.block.id, this.form)
    },
    i18n,
  },
}
</script>
<style scoped>
.flux-editor-section {
  background-color: #aaaaaa;
  min-height: 5px;
  color: white;
}
</style>
