<template>
  <div class="flux-editor-video" data-v-80fbae56-053c-4579-a837-019e56c7ea58>
    <figure v-if="block.attributes && block.attributes.id">
      <div class="flux-editor-video-container">
        <div
          class="flux-editor-video-cover"
          @mouseover.stop="coverHover"
          @mouseleave.stop="displayTools = false"
        ></div>
        <div
          v-if="displayTools === true"
          class="flux-editor-video-tools text-center p-1 px-3"
          @mouseover.stop="toolsHover"
        >
          <button
            :class="{ active: displayProperties }"
            class="flux-btn flux-btn-default"
            @click.prevent="displayProperties = !displayProperties"
          >
            <i class="flux-editor-icon flux-editor-icon-cogs" />
          </button>
          <button
            :class="{ active: displayProperties }"
            class="flux-btn flux-btn-default"
            @click.prevent="replace()"
          >
            <i class="flux-editor-icon flux-editor-icon-exchange" />
          </button>
        </div>
        <div
          :class="{
            'embed-responsive embed-responsive-4by3':
              block.attributes.aspect === '4/3',
            'embed-responsive embed-responsive-16by9':
              block.attributes.aspect === '16/9',
            'embed-responsive embed-responsive-1by1':
              block.attributes.aspect === '1/1',
            'embed-responsive embed-responsive-21by9':
              block.attributes.aspect === '21/9',
          }"
        >
          <iframe
            v-if="block.attributes.source === 'YOUTUBE'"
            width="100%"
            height="100%"
            class="embed-responsive-item"
            :src="embedUrl"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <iframe
            v-if="block.attributes.source === 'PEERTUBE'"
            width="100%"
            height="100%"
            sandbox="allow-same-origin allow-scripts allow-popups"
            :src="embedUrl"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <figcaption
        v-if="block.attributes.title || block.attributes.credentials"
        :class="block.attributes.credentials_align"
      >
        <span v-if="block.attributes.title">
          {{ block.attributes.title }}
        </span>
        <br v-if="block.attributes.title" />
        <small v-if="block.attributes.credentials">
          {{ block.attributes.credentials }}
        </small>
      </figcaption>
    </figure>
    <div v-if="displayProperties === true" class="flux-editor-properties mb-5">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div
              class="btn-group btn-group-sm btn-group-toggle"
              data-toggle="buttons"
            >
              <label
                v-for="item in aspects"
                :key="item"
                class="btn"
                :class="{
                  'btn-primary': form.aspect == item,
                  'btn-secondary': form.aspect != item,
                }"
              >
                <input
                  v-model="form.aspect"
                  :value="item"
                  type="radio"
                  name="aspects"
                  :checked="form.aspect == item"
                  @change="updateAttributes()"
                />
                {{ item }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row">
        <div class="flex-fill">
          <div class="form-group row">
            <label
              for="title"
              class="col-sm-2 col-form-label col-form-label-sm text-muted"
            >
              {{ i18n('Title', locale) }}
            </label>
            <div class="col-sm-10">
              <textarea
                id="title"
                v-model="form.title"
                class="form-control form-control-sm"
                @input="updateAttributes()"
              ></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label
              for="credentials"
              class="col-sm-2 col-form-label col-form-label-sm text-muted"
            >
              {{ i18n('Credits', locale) }}
            </label>
            <div class="col-sm-10">
              <input
                id="credentials"
                v-model="form.credentials"
                class="form-control form-control-sm"
                @input="updateAttributes()"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label col-form-label-sm text-muted">
              {{ i18n('Source', locale) }}
            </label>
            <div class="col-sm-10">
              <a :href="form.src" target="_blank" class="text-dark">
                {{ form.src }}
              </a>
            </div>
          </div>
        </div>
        <div class="ml-3">
          <div class="form-group text-right">
            <div
              class="btn-group btn-group-sm btn-group-toggle"
              data-toggle="buttons"
            >
              <label
                v-for="item in aligns"
                :key="item"
                class="btn"
                :class="{
                  'btn-primary': form.credentials_align == item,
                  'btn-secondary': form.credentials_align != item,
                }"
              >
                <input
                  v-model="form.credentials_align"
                  :value="item"
                  type="radio"
                  name="options"
                  :checked="form.credentials_align == item"
                  @change="updateAttributes()"
                />
                <i :class="`flux-editor-icon flux-editor-icon-${item}`" />
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="block.attributes && !block.attributes.id">
      <div class="form-group">
        <div
          class="btn-group btn-group-sm btn-group-toggle ml-1"
          data-toggle="buttons"
        >
          <label
            v-for="item in sources"
            :key="item"
            class="btn"
            :class="{
              'btn-primary': form.source == item,
              'btn-secondary': form.source != item,
            }"
            :title="i18n(item)"
          >
            <input
              v-model="form.source"
              :value="item"
              type="radio"
              name="options"
              :checked="form.source == item"
              @change="updateAttributes()"
            />
            {{ i18n(item) }}
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="d-flex flex-row">
          <input
            id="url"
            v-model="form.src"
            placeholder="Copier/coller ici l’URL de partage"
            class="form-control form-control-sm flex-fill"
          />
          <button class="btn btn-sm btn-primary" @click.prevent="setVideo()">
            Valider
          </button>
        </div>
      </div>
    </div>
    <!-- <pre>{{ embedUrl }}</pre> -->
    <!-- <pre>{{ block }}</pre> -->
  </div>
</template>
<script>
import Locales from './FluxEditorLocales'
const { i18n } = Locales()

export default {
  name: 'FluxPluginVideo',
  props: {
    block: {
      type: Object,
      default() {
        return {}
      },
    },
    locale: {
      type: String,
      default: 'FR',
    },
  },
  data() {
    return {
      displayTools: false,
      displayProperties: false,
      sources: ['YOUTUBE', 'PEERTUBE'],
      aspects: ['1/1', '4/3', '16/9', '21/9'],
      aligns: ['text-left', 'text-center', 'text-right'],
      form: {
        id: null,
        src: null,
        source: null,
        aspect: null,
        title: null,
        credentials: null,
        credentials_align: null,
      },
    }
  },
  computed: {
    embedUrl() {
      let src
      if (this.form.source === 'YOUTUBE') {
        src = `https://www.youtube-nocookie.com/embed/${this.form.id}`
      } else if (this.form.source === 'PEERTUBE') {
        let hostname
        if (this.form.src) {
          hostname = new URL(this.form.src).hostname
        } else {
          hostname = 'video.blast-info.fr'
        }
        src = `https://${hostname}/videos/embed/${this.form.id}`
      }
      return src
    },
  },
  created() {
    this.form = JSON.parse(JSON.stringify(this.block.attributes))
  },
  methods: {
    setVideo() {
      let videoId
      if (this.form.src && this.form.source === 'YOUTUBE') {
        videoId = this.getIdFromUrl(this.form.src)
      }
      if (this.form.src && this.form.source === 'PEERTUBE') {
        const regex = /\w{8}-\w{4}-\w{4}-\w{4}-\w{12}/
        let m
        if ((m = regex.exec(this.form.src)) !== null) {
          videoId = m[0]
        } else {
          videoId = this.form.src.split('/w/')[1]
        }
      }
      if (videoId) {
        this.$parent.updateBlockAttributes(this.block.id, {
          id: videoId,
          source: this.form.source,
        })
        this.form.id = videoId
        this.updateAttributes()
      }
    },
    coverHover() {
      this.displayTools = true
    },
    toolsHover(event) {
      event.stopPropagation()
      this.displayTools = true
    },
    replace() {
      this.form.id = null
      this.displayProperties = false
      this.updateAttributes()
    },
    updateAttributes() {
      this.$parent.updateBlockAttributes(this.block.id, this.form)
    },
    getIdFromUrl(url, opts) {
      if (opts === undefined) {
        opts = { fuzzy: true }
      }

      if (/youtu\.?be/.test(url)) {
        // Look first for known patterns
        let i
        const patterns = [
          /youtu\.be\/([^#&?]{11})/,
          /\?v=([^#&?]{11})/,
          /&v=([^#&?]{11})/,
          /embed\/([^#&?]{11})/,
          /\/v\/([^#&?]{11})/,
        ]

        // If any pattern matches, return the ID
        for (i = 0; i < patterns.length; ++i) {
          if (patterns[i].test(url)) {
            return patterns[i].exec(url)[1]
          }
        }

        if (opts.fuzzy) {
          const tokens = url.split(/[/&?=#.\s]/g)
          for (i = 0; i < tokens.length; ++i) {
            if (/^[^#&?]{11}$/.test(tokens[i])) {
              return tokens[i]
            }
          }
        }
      }

      return null
    },
    i18n,
  },
}
</script>
<style scoped>
.flux-editor-video-container {
  position: relative;
}
.flux-editor-video-container:hover .flux-editor-video-cover {
  background-color: black;
  opacity: 0.2;
}

.flux-editor-properties {
  border-bottom: 5px solid #aaaaaa;
}

.flux-editor-video-cover {
  z-index: 1;
  position: absolute;
  /*background-color: red;*/
  opacity: 0;
  width: 100%;
  height: 100%;
}
.flux-editor-video-tools {
  z-index: 2;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 25px;
  background-color: white;
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 5px;
}
</style>
