<template>
  <div class="flux-editor-audio">
    <figure v-if="block.attributes && form.src">
      <div class="flux-editor-audio-container">
        <div
          class="flux-editor-audio-cover"
          @mouseover.stop="coverHover"
          @mouseleave="displayTools = false"
        ></div>
        <div
          v-if="displayTools === true"
          class="flux-editor-audio-tools text-center p-1 px-3"
          @mouseover.stop="toolsHover"
        >
          <button
            :class="{ active: displayProperties }"
            class="flux-btn flux-btn-default"
            @click.prevent="displayProperties = !displayProperties"
          >
            <i class="flux-editor-icon flux-editor-icon-cogs" />
          </button>
          <button
            :class="{ active: displayProperties }"
            class="flux-btn flux-btn-default"
            @click.prevent="replace()"
          >
            <i class="flux-editor-icon flux-editor-icon-exchange" />
          </button>
        </div>
        <audio
          controls
          :src="block.attributes.src"
          class="flux-editor-audio-player"
        >
          <p>
            Votre navigateur ne prend pas en charge l'audio HTML. Voici un un
            <a :href="block.attributes.src">lien vers le fichier audio</a> pour
            le télécharger.
          </p>
        </audio>
      </div>
      <figcaption
        v-if="block.attributes.title || block.attributes.credentials"
        :class="block.attributes.credentials_align"
      >
        <span v-if="block.attributes.title">
          {{ block.attributes.title }}
        </span>
        <br v-if="block.attributes.title" />
        <small v-if="block.attributes.credentials">
          {{ block.attributes.credentials }}
        </small>
      </figcaption>
    </figure>
    <div v-if="displayProperties === true" class="flux-editor-properties mb-5">
      <div class="d-flex flex-row">
        <div class="flex-fill">
          <div class="form-group row">
            <label
              for="title"
              class="col-sm-2 col-form-label col-form-label-sm text-muted"
            >
              {{ i18n('Title', locale) }}
            </label>
            <div class="col-sm-10">
              <textarea
                id="title"
                v-model="form.title"
                class="form-control form-control-sm"
                @input="updateAttributes()"
              ></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label
              for="credentials"
              class="col-sm-2 col-form-label col-form-label-sm text-muted"
            >
              {{ i18n('Credits', locale) }}
            </label>
            <div class="col-sm-10">
              <input
                id="credentials"
                v-model="form.credentials"
                class="form-control form-control-sm"
                @input="updateAttributes()"
              />
            </div>
          </div>
          <div class="form-group row d-none">
            <label
              for="src"
              class="col-sm-2 col-form-label col-form-label-sm text-muted"
            >
              {{ i18n('Source', locale) }}
            </label>
            <div class="col-sm-10">
              <div class="d-flex flex-row">
                <input
                  id="src"
                  v-model="form.src"
                  class="form-control form-control-sm flex-fill"
                  @input="updateAttributes()"
                />
                <div class="ml-1">
                  <a
                    href
                    class="btn btn-sm btn-primary"
                    @click.prevent="replaceImage()"
                  >
                    <i class="flux-editor-icon flux-editor-icon-exchange" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ml-3">
          <div class="form-group text-right">
            <div
              class="btn-group btn-group-sm btn-group-toggle"
              data-toggle="buttons"
            >
              <label
                v-for="item in aligns"
                :key="item"
                class="btn"
                :class="{
                  'btn-primary': form.credentials_align == item,
                  'btn-secondary': form.credentials_align != item,
                }"
              >
                <input
                  v-model="form.credentials_align"
                  :value="item"
                  type="radio"
                  name="options"
                  :checked="form.credentials_align == item"
                  @change="updateAttributes()"
                />
                <i :class="`flux-editor-icon flux-editor-icon-${item}`" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- <pre>{{ form }}</pre> -->
    </div>
    <div v-if="block.attributes && !form.src">
      <h2 class="h4">Choisissez une source audio</h2>
      <table class="table table-hover">
        <tbody>
          <tr v-for="file in audioFiles" :key="file.id">
            <td class="text-right">
              <i class="flux-editor-icon i flux-editor-icon-audio"></i>
            </td>
            <td>
              <a href @click.prevent="setFile(file)">
                {{ file.meta.filename }}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import Locales from './FluxEditorLocales'
const { i18n } = Locales()

export default {
  name: 'FluxEditorImage',
  props: {
    block: {
      type: Object,
      default() {
        return {}
      },
    },
    attachments: {
      type: Array,
      default() {
        return []
      },
    },
    locale: {
      type: String,
      default: 'FR',
    },
  },
  data() {
    return {
      displayTools: false,
      displayProperties: false,
      aligns: ['text-left', 'text-center', 'text-right'],
      form: {
        src: null,
        title: null,
        credentials: null,
        credentials_align: null,
      },
    }
  },
  computed: {
    audioFiles() {
      const results = []
      for (const key in this.attachments) {
        if (
          this.attachments[key].meta &&
          this.attachments[key].meta.type &&
          this.attachments[key].meta.type === 'audio'
        ) {
          results.push(this.attachments[key])
        }
      }
      return results
    },
  },
  created() {
    this.form = JSON.parse(JSON.stringify(this.block.attributes))
  },
  methods: {
    setFile(file) {
      this.$parent.updateBlockAttributes(this.block.id, {
        src: file.static_url,
      })
      this.form.src = file.static_url
      this.displayProperties = true
      this.displayTools = false
      this.$forceUpdate()
    },
    coverHover() {
      this.displayTools = true
    },
    toolsHover(event) {
      event.stopPropagation()
      this.displayTools = true
    },
    updateAttributes() {
      this.$parent.updateBlockAttributes(this.block.id, this.form)
    },
    replace() {
      this.form.src = null
      this.displayProperties = false
      this.updateAttributes()
    },
    i18n,
  },
}
</script>
<style scoped>
.flux-editor-audio-container {
  position: relative;
}

.flux-editor-audio-container:hover .flux-editor-audio-cover {
  background-color: black;
  opacity: 0.2;
}
.flux-editor-audio-cover {
  z-index: 1;
  position: absolute;
  /*background-color: red;*/
  opacity: 0;
  width: 100%;
  height: 100%;
}
.flux-editor-audio-tools {
  z-index: 2;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 6px;
  background-color: white;
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.flux-editor-audio-player {
  width: 100%;
}

.flux-editor-icon-audio {
  background-image: url('data:image/svg+xml,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1472 704v128q0 221-147.5 384.5t-364.5 187.5v132h256q26 0 45 19t19 45-19 45-45 19h-640q-26 0-45-19t-19-45 19-45 45-19h256v-132q-217-24-364.5-187.5t-147.5-384.5v-128q0-26 19-45t45-19 45 19 19 45v128q0 185 131.5 316.5t316.5 131.5 316.5-131.5 131.5-316.5v-128q0-26 19-45t45-19 45 19 19 45zm-256-384v512q0 132-94 226t-226 94-226-94-94-226v-512q0-132 94-226t226-94 226 94 94 226z"/></svg>');
}
</style>
