<template>
  <div class="flux-editor-image" data-v-0bc2a82b-aa87-4ab1-84fb-2bcd603add5f>
    <figure v-if="block.attributes && block.attributes.src">
      <div class="flux-editor-image-container">
        <div
          class="flux-editor-image-cover"
          @mouseover.stop="coverHover"
          @mouseleave="displayTools = false"
        ></div>
        <div
          v-if="displayTools === true"
          class="flux-editor-image-tools text-center p-1 px-3"
          @mouseover.stop="toolsHover"
        >
          <button
            :class="{ active: displayProperties }"
            class="flux-btn flux-btn-default"
            @click.prevent="displayProperties = !displayProperties"
          >
            <i class="flux-editor-icon flux-editor-icon-cogs" />
          </button>
          <button
            :class="{ active: displayProperties }"
            class="flux-btn flux-btn-default"
            @click.prevent="replaceImage()"
          >
            <i class="flux-editor-icon flux-editor-icon-exchange" />
          </button>
        </div>
        <div
          :class="{
            'embed-responsive embed-responsive-4by3':
              block.attributes.aspect === '4/3',
            'embed-responsive embed-responsive-16by9':
              block.attributes.aspect === '16/9',
            'embed-responsive embed-responsive-1by1':
              block.attributes.aspect === '1/1',
            'embed-responsive embed-responsive-21by9':
              block.attributes.aspect === '21/9',
            'img-fluid': block.attributes.aspect === 'fluid',
          }"
        >
          <img
            :src="block.attributes.src"
            :class="{
              'img-fluid': block.attributes.aspect === 'fluid',
              'embed-responsive-item': block.attributes.aspect !== 'fluid',
            }"
            :style="`object-fit: ${block.attributes.fit}`"
          />
        </div>
      </div>
      <figcaption
        v-if="block.attributes.title || block.attributes.credentials"
        :class="block.attributes.credentials_align"
      >
        <span v-if="block.attributes.title">
          {{ block.attributes.title }}
        </span>
        <br v-if="block.attributes.title" />
        <small v-if="block.attributes.credentials">
          {{ block.attributes.credentials }}
        </small>
      </figcaption>
    </figure>
    <div v-if="displayProperties === true" class="flux-editor-properties mb-5">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div
              class="btn-group btn-group-sm btn-group-toggle"
              data-toggle="buttons"
            >
              <label
                v-for="item in aspects"
                :key="item"
                class="btn"
                :class="{
                  'btn-primary': form.aspect == item,
                  'btn-secondary': form.aspect != item,
                }"
              >
                <input
                  v-model="form.aspect"
                  :value="item"
                  type="radio"
                  name="aspects"
                  :checked="form.aspect == item"
                  @change="updateAttributes()"
                />
                {{ item }}
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group text-right">
            <div
              class="btn-group btn-group-sm btn-group-toggle"
              data-toggle="buttons"
            >
              <label
                v-for="item in fits"
                :key="item"
                class="btn"
                :class="{
                  'btn-primary': form.fit == item,
                  'btn-secondary': form.fit != item,
                }"
                :title="i18n(item, locale)"
              >
                <input
                  v-model="form.fit"
                  :value="item"
                  type="radio"
                  name="fits"
                  :checked="form.fit == item"
                  :disabled="form.aspect == 'fluid'"
                  @change="updateAttributes()"
                />
                {{ item }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row">
        <div class="flex-fill">
          <div class="form-group row">
            <label
              for="title"
              class="col-sm-2 col-form-label col-form-label-sm text-muted"
            >
              {{ i18n('Title', locale) }}
            </label>
            <div class="col-sm-10">
              <textarea
                id="title"
                v-model="form.title"
                class="form-control form-control-sm"
                @input="updateAttributes()"
              ></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label
              for="credentials"
              class="col-sm-2 col-form-label col-form-label-sm text-muted"
            >
              {{ i18n('Credits', locale) }}
            </label>
            <div class="col-sm-10">
              <input
                id="credentials"
                v-model="form.credentials"
                class="form-control form-control-sm"
                @input="updateAttributes()"
              />
            </div>
          </div>
          <div class="form-group row d-none">
            <label
              for="src"
              class="col-sm-2 col-form-label col-form-label-sm text-muted"
            >
              {{ i18n('Source', locale) }}
            </label>
            <div class="col-sm-10">
              <div class="d-flex flex-row">
                <input
                  id="src"
                  v-model="form.src"
                  class="form-control form-control-sm flex-fill"
                  @input="updateAttributes()"
                />
                <div class="ml-1">
                  <a
                    href
                    class="btn btn-sm btn-primary"
                    @click.prevent="replaceImage()"
                  >
                    <i class="flux-editor-icon flux-editor-icon-exchange" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-row">
            <div class="flex-fill">
              <div class="form-group row">
                <label
                  for="href"
                  class="col-sm-2 col-form-label col-form-label-sm text-muted"
                >
                  {{ i18n('Link', locale) }}
                </label>
                <div class="col-sm-10">
                  <div class="d-flex flex-row">
                    <input
                      id="href"
                      v-model="form.href"
                      placeholder="https://…"
                      class="form-control form-control-sm flex-fill"
                      @input="updateAttributes()"
                    />

                    <div
                      class="btn-group btn-group-sm btn-group-toggle ml-1"
                      data-toggle="buttons"
                    >
                      <label
                        v-for="item in targets"
                        :key="item"
                        class="btn"
                        :class="{
                          'btn-primary': form.href_target == item,
                          'btn-secondary': form.href_target != item,
                        }"
                        :title="i18n(item, locale)"
                      >
                        <input
                          v-model="form.href_target"
                          :value="item"
                          type="radio"
                          name="options"
                          :checked="form.href_target == item"
                          @change="updateAttributes()"
                        />
                        <i
                          :class="`flux-editor-icon flux-editor-icon-${item}`"
                        />
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ml-3">
          <div class="form-group text-right">
            <div
              class="btn-group btn-group-sm btn-group-toggle"
              data-toggle="buttons"
            >
              <label
                v-for="item in aligns"
                :key="item"
                class="btn"
                :class="{
                  'btn-primary': form.credentials_align == item,
                  'btn-secondary': form.credentials_align != item,
                }"
              >
                <input
                  v-model="form.credentials_align"
                  :value="item"
                  type="radio"
                  name="options"
                  :checked="form.credentials_align == item"
                  @change="updateAttributes()"
                />
                <i :class="`flux-editor-icon flux-editor-icon-${item}`" />
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- <pre>{{ form }}</pre> -->
    </div>
    <div v-if="block.attributes && !block.attributes.src">
      <h2 class="h4">Choisissez une image</h2>
      <div class="flux-editor-image-caption">
        <span v-if="imageCaption">
          <span class="text-muted">Sélectionner :</span> {{ imageCaption }}
        </span>
      </div>
      <div class="embed-responsive embed-responsive-16by9">
        <div class="embed-responsive-item">
          <div class="flux-editor-image-items">
            <div class="row mx-0">
              <div
                v-for="image in images"
                :key="image.id"
                class="col-sm-3 px-0 p-2"
              >
                <div class="embed-responsive embed-responsive-1by1">
                  <a
                    href
                    class="embed-responsive-item"
                    @click.prevent="setImage(image)"
                    @mouseover="imageCaption = image.value"
                    @mouseout="imageCaption = null"
                  >
                    <img
                      :src="image.static_url"
                      class="flux-editor-image-item"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Locales from './FluxEditorLocales'
const { i18n } = Locales()

export default {
  name: 'FluxPluginImage',
  props: {
    block: {
      type: Object,
      default() {
        return {}
      },
    },
    attachments: {
      type: Array,
      default() {
        return []
      },
    },
    locale: {
      type: String,
      default: 'FR',
    },
  },
  data() {
    return {
      imageCaption: null,
      displayTools: false,
      displayProperties: false,
      aspects: ['1/1', '4/3', '16/9', '21/9', 'fluid'],
      fits: ['cover', 'contain'],
      aligns: ['text-left', 'text-center', 'text-right'],
      targets: ['_self', '_blank'],
      form: {
        src: null,
        href: null,
        href_target: '_self',
        aspect: null,
        fit: null,
        title: null,
        credentials: null,
        credentials_align: null,
      },
    }
  },
  computed: {
    images() {
      const results = []
      for (const key in this.attachments) {
        if (
          this.attachments[key].meta &&
          this.attachments[key].meta.type &&
          this.attachments[key].meta.type === 'image'
        ) {
          results.push(this.attachments[key])
        }
      }
      return results
    },
  },
  created() {
    this.form = JSON.parse(JSON.stringify(this.block.attributes))
  },
  methods: {
    replaceImage() {
      this.form.src = null
      this.displayProperties = false
      this.updateAttributes()
    },
    setImage(image) {
      this.$parent.updateBlockAttributes(this.block.id, {
        src: image.static_url,
      })
      this.form.src = image.static_url
    },
    coverHover() {
      this.displayTools = true
    },
    toolsHover(event) {
      event.stopPropagation()
      this.displayTools = true
    },
    updateAttributes() {
      this.$parent.updateBlockAttributes(this.block.id, this.form)
    },
    i18n,
  },
}
</script>
<style scoped>
.btn {
  color: white;
}

.flux-editor-image-container {
  position: relative;
}

.flux-editor-image-container:hover .flux-editor-image-cover {
  background-color: black;
  opacity: 0.2;
}
.flux-editor-image-cover {
  z-index: 1;
  position: absolute;
  /*background-color: red;*/
  opacity: 0;
  width: 100%;
  height: 100%;
}
.flux-editor-image-tools {
  z-index: 2;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 25px;
  background-color: white;
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.flux-editor-properties {
  border-bottom: 5px solid #aaaaaa;
}

.flux-editor-image-caption {
  text-align: center;
  min-height: 30px;
  font-size: 0.8rem;
}

.flux-editor-image-items {
  /*max-height: 400px;*/
  overflow: scroll;
}

.flux-editor-image-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  object-fit: contain;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: white;
  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
}

.flux-editor-icon-_self {
  background-image: url('data:image/svg+xml,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="white" d="M1664 416v960q0 119-84.5 203.5t-203.5 84.5h-960q-119 0-203.5-84.5t-84.5-203.5v-960q0-119 84.5-203.5t203.5-84.5h960q119 0 203.5 84.5t84.5 203.5z"/></svg>');
}
.flux-editor-icon-_blank {
  background-image: url('data:image/svg+xml,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="white" d="M1408 928v320q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h704q14 0 23 9t9 23v64q0 14-9 23t-23 9h-704q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113v-320q0-14 9-23t23-9h64q14 0 23 9t9 23zm384-864v512q0 26-19 45t-45 19-45-19l-176-176-652 652q-10 10-23 10t-23-10l-114-114q-10-10-10-23t10-23l652-652-176-176q-19-19-19-45t19-45 45-19h512q26 0 45 19t19 45z"/></svg>');
}
</style>
