<template>
  <div class="text-center" data-v-afe41253-7bc3-44f8-945f-d7f82c6b119c>
    <div class="plus__wrapper">
      <a href @click.prevent>
        <i class="flux-editor-plus-button" />
      </a>
      <div class="plus__content">
        <div class="d-flex flew-row plus__icons text-center text-nowrap">
          <div
            v-if="components.includes('text') == true"
            class="flux-editor-plus-trigger"
            @click.prevent="
              $parent.addNewBlock(block.id, 'text', position)
              visible = false
            "
          >
            <i class="flux-editor-tooltip-item flux-editor-icon-text" />
          </div>
          <template v-for="key in components">
            <div
              :key="key"
              class="flux-editor-plus-trigger"
              @click.prevent="
                $parent.addNewBlock(block.id, key, position)
                visible = false
              "
            >
              <i
                class="flux-editor-tooltip-item"
                :class="`flux-editor-icon-${key}`"
                :title="key"
              />
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'FluxEditorPlus',
  props: {
    block: {
      type: Object,
      default() {
        return {}
      },
    },
    components: {
      type: Array,
      default() {
        return []
      },
    },
    position: {
      type: String,
      default: 'after',
    },
  },
  data() {
    return {
      visible: false,
    }
  },
  created() {},
}
</script>
<style scoped>
a {
  text-decoration: none;
}

.plus__wrapper {
  /*border: 1px solid red;*/
  position: relative;
  display: inline-block;
  width: 100px;
}
.plus__content {
  /*border: 1px solid red;*/
  position: absolute;
  padding: 0 0 35px 0;
  bottom: 0;
  left: 0;
  transform: translate(calc(-50% + 50px), 0);
  opacity: 0;
  visibility: hidden;
}

.plus__content:before {
  z-index: 10;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #aaa;
  position: absolute;
  content: '';
  top: 32px;
  transform: translate(-50%, 100%);
  transition-duration: 0.2s;
  transition-property: transform;
}

.plus__icons {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.plus__wrapper:hover .plus__content {
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transform: translate(calc(-50% + 50px), -10%);
  transition: all 0.3s cubic-bezier(0.75, -0.02, 0.2, 1);
}

.flux-editor-plus-trigger {
  /*border: 1px solid red;*/
  cursor: pointer;
  padding: 0 5px;
}

.flux-editor-plus-button {
  display: inline-block;
  background-image: url('data:image/svg+xml,<svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path fill="%23aaa" d="M1344 960v-128q0-26-19-45t-45-19h-256v-256q0-26-19-45t-45-19h-128q-26 0-45 19t-19 45v256h-256q-26 0-45 19t-19 45v128q0 26 19 45t45 19h256v256q0 26 19 45t45 19h128q26 0 45-19t19-45v-256h256q26 0 45-19t19-45zm320-64q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/></svg>');
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  min-height: 22px;
}

.flux-editor-tooltip-item {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
}
</style>
