<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-6">
        <div
          class="btn-group btn-group-sm btn-group-toggle"
          data-toggle="buttons"
        >
          <label
            v-for="item in views"
            :key="item"
            class="btn"
            :class="{
              'btn-primary': view == item,
              'btn-secondary': view != item,
            }"
          >
            <input
              v-model="view"
              :value="item"
              type="radio"
              name="options"
              :checked="views == item"
            />
            {{ item }}
          </label>
        </div>
      </div>
      <div class="col-6 text-right">
        <button class="btn btn-success btn-sm" @click.prevent="save()">
          Save
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8">
        <div v-if="view == 'editor'">
          <client-only placeholder="Initialisation de l’éditeur de contenu...">
            <flux-editor-core
              ref="fluxEditor"
              :contents.sync="contents"
              :attachments.sync="attachments"
              class="mt-5"
            />
          </client-only>
        </div>
        <flux-view
          v-if="view == 'viewer'"
          ref="fluxView"
          :contents="contents"
          class="mt-5"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  data() {
    return {
      view: 'editor',
      views: ['editor', 'viewer'],
      contents: {
        blocks: [
          {
            scheme: 'text',
            attributes: {
              source:
                '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Istam voluptatem, inquit, Epicurus ignorat? Easdemne res? Illud non continuo, ut aeque incontentae. Duo Reges: constructio interrete. Aufert enim sensus actionemque tollit omnem. Istic sum, inquit.</p>',
            },
            id: '9acc4786-a2b0-4e45-94e0-aec8d243f523',
          },
          // {
          //   scheme: 'video',
          //   attributes: {
          //     id: 'c71FWFOmSV0',
          //     src: 'https://www.youtube.com/watch?v=c71FWFOmSV0',
          //     source: 'YOUTUBE',
          //     aspect: '16/9',
          //     title: 'Moderat - more d4ta - easy prey',
          //     credentials: '© 2022 Monkeytown Records',
          //     credentials_align: 'text-center',
          //   },
          //   id: '131f7305-9705-4fa6-85cf-1545dab742ee',
          // },
          // {
          //   scheme: 'video',
          //   attributes: {
          //     id: '4bpzRFWN1ZknZFGEJ3uAMg',
          //     src: 'https://video.blast-info.fr/w/4bpzRFWN1ZknZFGEJ3uAMg',
          //     source: 'PEERTUBE',
          //     aspect: '16/9',
          //     title: null,
          //     credentials: null,
          //     credentials_align: 'text-center',
          //   },
          //   id: '80faeeb3-13b3-40e3-a89e-7bacf1206d87',
          // },
          // {
          //   scheme: 'code',
          //   attributes: {
          //     source:
          //       '<iframe width="100%" height="100%" src="https://www.youtube.com/embed/ybYju-UP3Lo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>',
          //     aspect: '16/9',
          //   },
          //   id: '74e49227-e1c3-409c-b0ce-0e83279e5e42',
          // },
          {
            scheme: 'image',
            attributes: {
              src: '/images/tkachenko_007.jpg',
              href: null,
              href_target: '_self',
              title: null,
              credentials: null,
              credentials_align: 'text-center',
              aspect: 'fluid',
              fit: 'contain',
            },
            id: '6ba66bc1-66a2-4ce7-8e4d-e609761601fb',
          },

          {
            scheme: 'audio',
            attributes: {
              src: '/audio/audio-9e7A0lZ-SXu0ynYdXPXTjw.ogg',
              title: null,
              credentials: null,
              credentials_align: 'text-center',
            },
            id: 'fb4391e8-2af0-49bb-9256-d1cfa7fb4ed3',
          },
          {
            scheme: 'section',
            attributes: {
              type: 'section-frame1',
            },
            id: 'f3943cbd-5dc0-4c03-96a3-2ca9c5f6b72b',
          },
          {
            scheme: 'text',
            attributes: {
              source:
                '<p>Praeclarae mortes sunt imperatoriae; Sed tamen intellego quid velit. Egone quaeris, inquit, quid sentiam? Stoicos roga. Et quod est munus, quod opus sapientiae? Quis est tam dissimile homini. Haeret in salebra.</p>',
            },
            id: 'd57a5de6-2ff2-459c-b94b-2a6cba69b437',
          },
        ],
      },
      attachments: [
        {
          id: '76a9a98f-e682-4d0a-a6ab-7b6ea1d4c489',
          key: 'story_attachment',
          value: 'tkachenko_003.jpg',
          meta: {
            filename: 'tkachenko_003.jpg',
            type: 'image',
          },
          static_url: '/images/tkachenko_003.jpg',
        },
        {
          id: 'ea9c5bc8-c201-46aa-8ea3-6ae22cf61607',
          key: 'story_attachment',
          value: 'tkachenko_007.jpg',
          meta: {
            filename: 'tkachenko_007.jpg',
            type: 'image',
          },
          static_url: '/images/tkachenko_007.jpg',
        },
        {
          id: '48f58952-8fc5-4e41-826c-95084e0949b0',
          key: 'story_attachment',
          value: 'paysage.jpg',
          meta: {
            filename: 'paysage.jpg',
            type: 'image',
          },
          static_url: '/images/paysage.jpg',
        },
        {
          id: '0df5419a-56f4-4cc0-ba3a-a85e9b3b072d',
          key: 'story_attachment',
          value: 'baguettes.jpg',
          meta: {
            filename: 'baguettes.jpg',
            type: 'image',
          },
          static_url: '/images/baguettes.jpg',
        },
        {
          id: '243e77f9-5d29-43ea-a66a-3f29a78ff7b0',
          key: 'story_attachment',
          value: 'restaurant.jpg',
          meta: {
            filename: 'restaurant.jpg',
            type: 'image',
          },
          static_url: '/images/restaurant.jpg',
        },
        {
          id: 'c11cbbff-25f4-4a28-83e8-87dc3298eeac',
          key: 'story_attachment',
          value: 'portrait.jpg',
          meta: {
            filename: 'portrait.jpg',
            type: 'image',
          },
          static_url: '/images/portrait.jpg',
        },
        {
          id: '17ec9a74-35d7-4c52-a10f-c7af614a6090',
          key: 'story_attachment',
          value: 'jardin.jpg',
          meta: {
            filename: 'jardin.jpg',
            type: 'image',
          },
          static_url: '/images/jardin.jpg',
        },
        {
          id: '714209ae-10e2-4295-bd42-723d1dbe2eb9',
          key: 'story_attachment',
          value: 'firefox.jpg',
          meta: {
            filename: 'firefox.jpg',
            type: 'image',
          },
          static_url: '/images/firefox.jpg',
        },
        {
          id: 'ea10f1a0-3583-4693-88bf-c1f98521a8b2',
          key: 'story_attachment',
          value: 'audio-9e7A0lZ-SXu0ynYdXPXTjw.ogg',
          meta: {
            filename: 'audio-9e7A0lZ-SXu0ynYdXPXTjw.ogg',
            type: 'audio',
          },
          static_url: '/audio/audio-9e7A0lZ-SXu0ynYdXPXTjw.ogg',
        },
      ],
    }
  },
  methods: {
    save() {
      this.contents = this.$refs.fluxEditor.getContent()
    },
  },
}
</script>
